Django==5.2.17
gunicorn==26.0.0
whitenoise==6.12.0

dj-database-url==2.3.0
psycopg2-binary==2.9.10

django-storages==1.14.6
boto3==1.43.56

python-dotenv==1.2.2
Pillow==10.1.0

django-crispy-forms==2.1
crispy-bootstrap5==0.7

django-cors-headers==4.9.0
django-filter==26.1
django-widget-tweaks==1.5.1

djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1